.elements {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.elements_inner {
  display: flex;
  margin: 0 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
}
.elements_inner_left {
  margin: 0 10px
}
.elements_inner_right {
  margin: 0 10px;
  border-bottom: 1px solid #0B2F25;
}
.elements_inner_right h4 {
  text-align: center;
}

@media screen and (max-width: 875px) {
  .elements {
    display: flex;
    flex-direction: column;
  }
  .elements_inner {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .elements_inner_right {
    width: 100%;
  }
  .elements_inner_right h4 {
    text-align: left;
  }
  .elements_inner_left {
    width: 20%;
  }
  .elements_inner_left img {
    width: 100%;
  }
}
@media screen and (max-width: 650px) {
  .elements_inner img {
    width: 80%;
    height: 80%;
  }
  .elements_inner h4 {
    font-size: 13px;
  }
  .elements_inner p {
    font-size: 14px;
  }
}