.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 40px;
  padding: 20px;
  border-radius: 20px;
  background: #F2F9EA;
  margin: 20px;
}

.about h4 {
  color: black;
}
.about p {
  color: #0B2F25;
  text-align: center;
}
.about p {
  color: #0B2F25;
  text-align: center;
}
.about {
  display: block;
  position: relative;
  max-width: 262px;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #154f40;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 60% 50%;
    transition: transform 0.25s ease-out;
  }

  &:hover:before {
    transform: scale(21);
  }
}

.about:hover {
  p {
    transition: all 0.3s ease-out;
    color: rgba(255, 255, 255, 0.8);
  }
  h4 {
    transition: all 0.3s ease-out;
    color: #ffffff;
  }
}

