
.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
}
.about_inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}