.footer_wrapper {
  display: flex;
  justify-content: center;
  background: #0B2F25;
  color: white;
  padding: 40px 10px;
}

.footer_card {
  max-width: 300px;
  margin: 0px 10px;
}
.footer_card h3 {

}
.footer_card span {
  font-weight: 500;
}
@media screen and (max-width: 850px) {
  .footer_wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}